body{
    margin: 0;
    font-family: 'Inter', sans-serif;
    
}
.header{
    max-width: 1504px;
    margin: 0 auto;
    padding: 57px 208px 49px;
}
h2{
    margin: 0;
}
.logo{
    margin-right: -150px;
    
}


.c-d9{
    color: #D9D9D9;
    cursor: pointer;
}

.icon{
    width: 52px;
    height: 52px;
    border: 1px solid #ECECEC;
    position: relative;
    cursor: pointer;
}
.cl{
    background-color: #748E9C;
    margin-left: 18px;
}

.mini-icon{
    position: absolute;
    left: 13px;
    top: 13px;
}
.mini-icon1{
    position: absolute;
    left: 20px;
    top: 12px;
}
.mr-32{
    margin-right: 32px;
}
.mr-12{
    margin-top: 12px;
}
.mr-17{
    margin-top: 17px;
}
.mr-25{
    margin-top: 25px;
}
main{
    max-width: 1504px;
    margin: 0 auto;
    padding: 104px 208px 0;
}
.account{
    margin-top: 44px;
    align-items: flex-start;
}

.c-979391{
    color: #979391;
}
span{
    color: #979391;
    font-weight: 500;
    font-family: 'Neuton', serif;
    font-size: 20px;
    line-height: 25px;
}
.gr-gr{
    color: #788D98;
}

.icon-num::after{
    content: url(../img/Group.png);
    position: relative;
    left: 4px;
    top: 3px;
   

}

.account-left{
    margin-right: 57px;
    max-width: 20%;
}
.account-right{
    
    width: 75%;
}
.ac-nav{
    align-items: center;
    margin-bottom: 79px;
}
.hr{
    border-right: 1px solid #D9D9D9;
    
}

.wd{
    width: 25%;
    margin-bottom: 48px;
}

.pr35{
    padding-right: 50px;
}
.mb-7{
    margin-bottom: 7px;
}
.account-button{
    width: 259px;
    height: 74px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    line-height: 21px;
    border: none;
    background: radial-gradient(circle, #9DB8C8, #748E9C);
    margin-top: 17px;
    cursor: pointer;
}
.tw-icon{
    margin-left: 52px;
}
.main-nav{
    
    height: 50px;
    border-bottom: 1px solid #D9D9D9;
    display: flex;
    justify-content: space-between;
    margin-top: 75px;
    transition: 0.5s;
    margin-left: -200px;
    margin-right: -200px;
}
.block{
    display: flex;
    padding: 0 200px;
}
.block2{
    display: flex;
    padding: 0 200px;
}
.box{
    width: 150px;
    height: 49px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #979391;
    cursor: pointer;
   

}
.box:hover{
    border-top: 1px solid #D9D9D9;
    border-right: 1px solid #D9D9D9;
    border-left: 1px solid #D9D9D9;
    border-bottom: 1px solid white;
    color: black;
}
.c-365262{
    color: #365262;
}

.img-account{
    width: 259px;
    height: 259px;
    margin-bottom: 44px;
}
h3{
    margin: 87px 0 48px;
}
.dreams{
    flex-direction: column;
    
}


.dr-card{
    width: 465px;
    height: 665px;
    background-color: #ffffff;
    margin-top: 39px;
}
.dr-card-text{
    margin: 20px 0 16px;
}
.ml-12{
    margin-left: 12px;
}


.succeed-button{
    width: 465px;
    height: 74px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    line-height: 21px;
    border: none;
    background: radial-gradient(circle, #9DB8C8, #748E9C);
    margin-top: 21px;
    cursor: pointer;
}
#bt-1{
    background:  radial-gradient(circle, #9DB8C8, #9DB1BC);
}
#bt-2{
    background:  radial-gradient(circle, #F0F9FF -40%, #B8BEC1);
}

.main-louvre{
    margin: 0 auto;
    max-width: 1504px;
    padding: 88px 0 0;
}
.row{

    width: 100%;
}
.cards{
    flex-direction: column;
    margin-top: 60px;
}
.picture{
    margin: 45px 0 25px;
}
.span{
    color: #979391;
}
.c-505D64{
    color: #505D64;
}
.c-476676{
    color: #476676;
}
.c-1C2529{
    color: #1C2529;;
}
.like{
    align-items: center;
    justify-content: right;
    margin-top: 23px;
}
.grd{
    color: #637883;
}
.gr-gr{
    color: #788D98;
}
footer{
    margin-top: 76px;
    background-color: #394348;
    height: 595px;
}
.footer-info{
    margin: 0 auto;
    max-width: 1504px;
    padding: 101px 208px 33px;
    align-items: center;
}
.c-foot{
    color: rgba(255, 255, 255, 0.5);
}
.icon-lg{
    width: 46px;
    height: 46px;
    background-color: transparent;
    border: 2px solid #748F9C;
    transition: 0.5s;
    font-size: 17px;
    font-weight: 500;
    line-height: 21px;
    color:  rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 39px;
}
.icon-lg:hover{
    border: 2px solid white;
}

.search{
    margin-top: 33px;
    margin: 0 auto;
    max-width: 1504px;
    padding: 0 208px 0;
}
input{
    width: 572px;
    height: 63px;
    outline: none;
    background-color: #394348;
    padding: 0 0 0 30px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 17px;
    font-weight: 500;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
    margin-right: 22px;

}
.button-footer{
    width: 168px;
    height: 65px;
    background-color: white;
    border: 1px solid white;
    font-size: 17px;
    font-weight: 500;
    line-height: 21px;
    color: #6A5843;
    cursor: pointer;
}
.footer-cc{
    width: 20%;
    align-items: center;
}
.icon-y{
    width: 40px;
    height: 28px;
    cursor: pointer;
}
.icon-t{
    width: 32px;
    height: 25px;
    cursor: pointer;
}
.icon-f{
    width: 39px;
    height: 27px;
    cursor: pointer;
}
.number{
    margin-right: 20px;
}
.icon-i{
    width: 30px;
    height: 31px;
    cursor: pointer;
}
.footer-nav{
    margin: 0 auto;
    max-width: 1504px;
    padding: 110px 208px 138px;
}
.footer-logo{
    align-items: center;
}
.footer-gr{
    color: rgba(255, 255, 255, 0.5);
    
}

#text-years{
    height: 57px;
    border-left: 1px solid #748F9C;
    color: #9CA1A3;
    padding: 10px 23px;
    box-sizing: border-box;
    margin-left: 25px;
    
}
.mr-50{
    margin-right: 50px;
}
.nax-f{
    transition: 0.5s;
    
}
.nav-f:hover{
    color: #fff;
    cursor: pointer;
}
